
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: left;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #de995e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

::-moz-selection { background: #de995e; color: #fff; text-shadow: none; }
::selection { background: #de995e; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../img/loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
}


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #ddd;
}


/***** Top menu *****/

.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li { padding-top: 8px; padding-bottom: 8px; }

.navbar-inverse ul.navbar-nav li .li-text { opacity: 0.8; }

.navbar-inverse ul.navbar-nav li a { display: inline; padding: 0; color: #fff; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li .li-social a {
	margin: 0 5px;
	font-size: 28px;
	vertical-align: middle;
}
.navbar-inverse ul.navbar-nav li .li-social a:hover, 
.navbar-inverse ul.navbar-nav li .li-social a:focus { opacity: 0.6; border: 0; color: #fff; }

.navbar-brand {
	width: 104px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}
.navbar>.container .navbar-brand { margin-left: 0; }


/***** Top content *****/

.inner-bg {
    padding: 120px 0 200px 0;
}

.top-content {
	position: relative;
}

.top-content-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	
	background: rgb(34,112,115); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyNzA3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTgzODYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(34,112,115,1) 0%, rgba(57,131,134,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,112,115,1)), color-stop(100%,rgba(57,131,134,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,112,115,1) 0%,rgba(57,131,134,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,112,115,1) 0%,rgba(57,131,134,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,112,115,1) 0%,rgba(57,131,134,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(34,112,115,1) 0%,rgba(57,131,134,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227073', endColorstr='#398386',GradientType=0 ); /* IE6-8 */
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.ms-ctn.form-control {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.user-input, .ms-sel-ctn input, .ms-sel-item {
    color: #333 !important;
    font-size: 16px !important;
    line-height: 36px;
    height: 36px;
}
.ms-ctn .ms-trigger .ms-trigger-ico {
    margin-top: 22px !important;
}
.btn-submit {
    font-size: 16px;
    line-height: 36px;
    margin-left: 10px;
    padding: 6px 20px;
    vertical-align: top;
}

.graph {
    display: inline-block;
}

.rec-links {
    display: inline-block;
    margin-top: 50px;
    margin-right: 0px;
    vertical-align: top;
    list-style-type: none;
    padding: 0;
}

.recommender-table {
    max-width: 80%;
    margin: 0 auto;
}

.recommender-table th, .recommender-table td {
    width: 25%;
}

.mpld3-tooltip {
    padding: 10px;
    background: #F3ECE7;
    border-width: 0;
}
.mpld3-tooltip thead {
    display: none;
    border-width: 0;
}
.mpld3-tooltip table th, .mpld3-tooltip table td {
    text-align: left;
    background: #F3ECE7;
    color: #333;
    border-width: 0;
}
.mpld3-tooltip table > tbody > tr:first-child > td:nth-child(2) {
    max-width: 30px;
    text-overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    border-width: 0;
}
/***** Footer *****/

footer {
	padding: 0 0 35px 0;
}

.footer-copyright a { color: #888; border-bottom: 1px solid #ddd; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #888; border: 0; }
