{% extends "layout.html" %}
{% block body %}

<!-- Loader -->
<div class="loader">
    <div class="loader-img"></div>
</div>
        
<!-- Top content -->
<div class="top-content">
    
    <div class="top-content-gradient gradient"></div>
    
    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text">
                    <h1 class="wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="1s">
                        <strong>GitHub Trends</strong>
                        <br>Explore the adoption of technology over time. 
                    </h1>
                    <div class="description wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="2s">
                        <p>
                            Search open source libraries below to see its usage over time.
                            <br>Currently available for <strong>Python</strong> libraries only.
                        </p>
                    </div>
                    <div class="subscribe wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="3s">
                        <form action="/time_series" method='GET' >
                            <input type="text" name="user_input" class="user-input" />
                            <input type="submit" class="btn btn-primary btn-submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
        
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footer-copyright">
                &copy; Template by <a href="http://azmind.com">Azmind</a>.
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('.user-input').magicSuggest({
        placeholder: 'Type one or more package names.',
        data: {{ autocomplete|safe }},
    });    
</script>
{% endblock %}
